.background {
    background: url(../../assets/bg1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 60vh;
    min-height: 60vh;
    position: relative;
    color: #fff;
}

.background-hourly {
    overflow: auto;
}

.hourly-items{
    min-width: 70px;
    border-bottom: 1px solid #fff;
}

.hourly-items img{
    width: 60px;
    height: 60px;
}

.temprature{
    font-size: 95px;
}